#dashboardClock {
    display: flex;
    flex-direction: column;
}
#dashboardClock p {
    margin-bottom: 0px;
}
.mainElements {
    margin: 3%;
}
.dashboardRender {
    display: flex;
    margin: 3%;
    justify-content: space-evenly;
}
#ticketStats {
    min-width: 65%;
}
#dashboardSide {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#widgetBar {
    width: 75%;
}
#dashStatWidgets {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#dashboardClock {
    display: flex;
    flex-direction: row;
}

#ticketNumStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: solid grey 5px;
    background-color: white;
}
