#dashboardClock {
    display: flex;
    flex-direction: column;
}
#dashboardClock p {
    margin-bottom: 0px;
}
.mainElements {
    padding: 3%;
}
.dashboardRender {
    display: flex;
    justify-content: space-evenly;
}
#ticketStats {
    min-width: 65%;
}
