.dashboard_header {
    font-family: "Times New Roman", Times, serif;
}
.progressbar {
    border: 1px solid black;
    padding: 1rem;
}
.manager_view {
    border: 1px solid black;
    padding: 1rem;
    h5 {
        margin-top: 0.8rem;
    }
}

